<div>
  <h2 id="page-heading" data-cy="PersonaHeading">
    <span upgradeTranslate="upgradeAppApp.persona.home.title">Personas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.persona.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-persona"
        [routerLink]="['/persona/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.persona.home.createLabel"> Create a new Persona </span>
      </button>
    </div>
  </h2>

  <upgrade-alert-error></upgrade-alert-error>

  <upgrade-alert></upgrade-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="personas?.length === 0">
    <span upgradeTranslate="upgradeAppApp.persona.home.notFound">No personas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="personas && personas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr upgradeSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" upgradeSortBy="id"><span upgradeTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" upgradeSortBy="nombre">
            <span upgradeTranslate="upgradeAppApp.persona.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="apellido">
            <span upgradeTranslate="upgradeAppApp.persona.apellido">Apellido</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="img">
            <span upgradeTranslate="upgradeAppApp.persona.img">Img</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="email">
            <span upgradeTranslate="upgradeAppApp.persona.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="login">
            <span upgradeTranslate="upgradeAppApp.persona.login">Login</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="userId">
            <span upgradeTranslate="upgradeAppApp.persona.userId">User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="fechaCreacion">
            <span upgradeTranslate="upgradeAppApp.persona.fechaCreacion">Fecha Creacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="isActivo">
            <span upgradeTranslate="upgradeAppApp.persona.isActivo">Is Activo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="cargo">
            <span upgradeTranslate="upgradeAppApp.persona.cargo">Cargo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/persona', persona.id, 'view']">{{ persona.id }}</a>
          </td>
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.apellido }}</td>
          <td>{{ persona.img }}</td>
          <td>{{ persona.email }}</td>
          <td>{{ persona.login }}</td>
          <td>{{ persona.userId }}</td>
          <td>{{ persona.fechaCreacion | formatMediumDatetime }}</td>
          <td>{{ persona.isActivo }}</td>
          <td upgradeTranslate="{{ 'upgradeAppApp.TipoCargo.' + persona.cargo }}">{{ persona.cargo }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/persona', persona.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/persona', persona.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(persona)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="personas && personas.length > 0">
    <div class="row justify-content-center">
      <upgrade-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></upgrade-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
