<div>
  <h2 id="page-heading" data-cy="RegistroHistoriaHeading">
    <span upgradeTranslate="upgradeAppApp.registroHistoria.home.title">Registro Historias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.registroHistoria.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-registro-historia"
        [routerLink]="['/registro-historia/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.registroHistoria.home.createLabel"> Create a new Registro Historia </span>
      </button>
    </div>
  </h2>

  <upgrade-alert-error></upgrade-alert-error>

  <upgrade-alert></upgrade-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="registroHistorias?.length === 0">
    <span upgradeTranslate="upgradeAppApp.registroHistoria.home.notFound">No registroHistorias found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="registroHistorias && registroHistorias.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr upgradeSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" upgradeSortBy="id"><span upgradeTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" upgradeSortBy="nombre">
            <span upgradeTranslate="upgradeAppApp.registroHistoria.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="codigo">
            <span upgradeTranslate="upgradeAppApp.registroHistoria.codigo">Codigo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="funcionalidad.nombre">
            <span upgradeTranslate="upgradeAppApp.registroHistoria.funcionalidad">Funcionalidad</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registroHistoria of registroHistorias; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/registro-historia', registroHistoria.id, 'view']">{{ registroHistoria.id }}</a>
          </td>
          <td>{{ registroHistoria.nombre }}</td>
          <td>{{ registroHistoria.codigo }}</td>
          <td>
            <div *ngIf="registroHistoria.funcionalidad">
              <a [routerLink]="['/funcionalidad', registroHistoria.funcionalidad?.id, 'view']">{{
                registroHistoria.funcionalidad?.nombre
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/registro-historia', registroHistoria.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/registro-historia', registroHistoria.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(registroHistoria)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="registroHistorias && registroHistorias.length > 0">
    <div class="row justify-content-center">
      <upgrade-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></upgrade-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
