<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="upgrade-persona-heading" data-cy="PersonaCreateUpdateHeading" upgradeTranslate="upgradeAppApp.persona.home.createOrEditLabel">
        Create or edit a Persona
      </h2>

      <div>
        <upgrade-alert-error></upgrade-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" upgradeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombre')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.apellido" for="field_apellido">Apellido</label>
          <input type="text" class="form-control" name="apellido" id="field_apellido" data-cy="apellido" formControlName="apellido" />
          <div *ngIf="editForm.get('apellido')!.invalid && (editForm.get('apellido')!.dirty || editForm.get('apellido')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('apellido')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.img" for="field_img">Img</label>
          <input type="text" class="form-control" name="img" id="field_img" data-cy="img" formControlName="img" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.login" for="field_login">Login</label>
          <input type="text" class="form-control" name="login" id="field_login" data-cy="login" formControlName="login" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.userId" for="field_userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('userId')?.errors?.number"
              upgradeTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.fechaCreacion" for="field_fechaCreacion"
            >Fecha Creacion</label
          >
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('fechaCreacion')!.invalid && (editForm.get('fechaCreacion')!.dirty || editForm.get('fechaCreacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaCreacion')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fechaCreacion')?.errors?.ZonedDateTimelocal"
              upgradeTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.isActivo" for="field_isActivo">Is Activo</label>
          <input type="checkbox" class="form-check" name="isActivo" id="field_isActivo" data-cy="isActivo" formControlName="isActivo" />
          <div *ngIf="editForm.get('isActivo')!.invalid && (editForm.get('isActivo')!.dirty || editForm.get('isActivo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActivo')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.persona.cargo" for="field_cargo">Cargo</label>
          <select class="form-control" name="cargo" formControlName="cargo" id="field_cargo" data-cy="cargo">
            <option [ngValue]="null">{{ 'upgradeAppApp.TipoCargo.null' | translate }}</option>
            <option *ngFor="let tipoCargo of tipoCargoValues" [value]="tipoCargo">
              {{ 'upgradeAppApp.TipoCargo.' + tipoCargo | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
