<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="iniciativa">
      <h2 data-cy="iniciativaDetailsHeading"><span upgradeTranslate="upgradeAppApp.iniciativa.detail.title">Iniciativa</span></h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ iniciativa.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.nombre">Nombre</span></dt>
        <dd>
          <span>{{ iniciativa.nombre }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.fechaInicio">Fecha Inicio</span></dt>
        <dd>
          <span>{{ iniciativa.fechaInicio | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.fechaFin">Fecha Fin</span></dt>
        <dd>
          <span>{{ iniciativa.fechaFin | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ iniciativa.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.isActivo">Is Activo</span></dt>
        <dd>
          <span>{{ iniciativa.isActivo }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.promesa">Promesa</span></dt>
        <dd>
          <span>{{ iniciativa.promesa }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.tituloProductoDigital">Titulo Producto Digital</span></dt>
        <dd>
          <span>{{ iniciativa.tituloProductoDigital }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.descripcionProductoDigital">Descripcion Producto Digital</span></dt>
        <dd>
          <span>{{ iniciativa.descripcionProductoDigital }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.iniciativa.servicio">Servicio</span></dt>
        <dd>
          <div *ngIf="iniciativa.servicio">
            <a [routerLink]="['/servicio', iniciativa.servicio?.id, 'view']">{{ iniciativa.servicio?.nombre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/iniciativa', iniciativa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
