<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="upgrade-registro-historia-heading"
        data-cy="RegistroHistoriaCreateUpdateHeading"
        upgradeTranslate="upgradeAppApp.registroHistoria.home.createOrEditLabel"
      >
        Create or edit a Registro Historia
      </h2>

      <div>
        <upgrade-alert-error></upgrade-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" upgradeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.registroHistoria.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.registroHistoria.codigo" for="field_codigo">Codigo</label>
          <input type="number" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.registroHistoria.funcionalidad" for="field_funcionalidad"
            >Funcionalidad</label
          >
          <select
            class="form-control"
            id="field_funcionalidad"
            data-cy="funcionalidad"
            name="funcionalidad"
            formControlName="funcionalidad"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                funcionalidadOption.id === editForm.get('funcionalidad')!.value?.id
                  ? editForm.get('funcionalidad')!.value
                  : funcionalidadOption
              "
              *ngFor="let funcionalidadOption of funcionalidadsSharedCollection; trackBy: trackFuncionalidadById"
            >
              {{ funcionalidadOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
