<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="upgrade-funcionalidad-heading"
        data-cy="FuncionalidadCreateUpdateHeading"
        upgradeTranslate="upgradeAppApp.funcionalidad.home.createOrEditLabel"
      >
        Create or edit a Funcionalidad
      </h2>

      <div>
        <upgrade-alert-error></upgrade-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" upgradeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.funcionalidad.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.funcionalidad.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'upgradeAppApp.TipoEstadoFuncionalidad.null' | translate }}</option>
            <option *ngFor="let tipoEstadoFuncionalidad of tipoEstadoFuncionalidadValues" [value]="tipoEstadoFuncionalidad">
              {{ 'upgradeAppApp.TipoEstadoFuncionalidad.' + tipoEstadoFuncionalidad | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.funcionalidad.prioridad" for="field_prioridad">Prioridad</label>
          <input type="number" class="form-control" name="prioridad" id="field_prioridad" data-cy="prioridad" formControlName="prioridad" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
