<div>
  <h2 id="page-heading" data-cy="AsignacionHeading">
    <span upgradeTranslate="upgradeAppApp.asignacion.home.title">Asignacions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.asignacion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asignacion"
        [routerLink]="['/asignacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.asignacion.home.createLabel"> Create a new Asignacion </span>
      </button>
    </div>
  </h2>

  <upgrade-alert-error></upgrade-alert-error>

  <upgrade-alert></upgrade-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="asignacions?.length === 0">
    <span upgradeTranslate="upgradeAppApp.asignacion.home.notFound">No asignacions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="asignacions && asignacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr upgradeSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" upgradeSortBy="id"><span upgradeTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" upgradeSortBy="porcentaje">
            <span upgradeTranslate="upgradeAppApp.asignacion.porcentaje">Porcentaje</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="cliente.nombre">
            <span upgradeTranslate="upgradeAppApp.asignacion.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="iniciativa.nombre">
            <span upgradeTranslate="upgradeAppApp.asignacion.iniciativa">Iniciativa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asignacion of asignacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/asignacion', asignacion.id, 'view']">{{ asignacion.id }}</a>
          </td>
          <td>{{ asignacion.porcentaje }}</td>
          <td>
            <div *ngIf="asignacion.cliente">
              <a [routerLink]="['/persona', asignacion.cliente?.id, 'view']">{{ asignacion.cliente?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="asignacion.iniciativa">
              <a [routerLink]="['/iniciativa', asignacion.iniciativa?.id, 'view']">{{ asignacion.iniciativa?.nombre }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/asignacion', asignacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/asignacion', asignacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(asignacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="asignacions && asignacions.length > 0">
    <div class="row justify-content-center">
      <upgrade-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></upgrade-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
