<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cliente">
      <h2 data-cy="clienteDetailsHeading"><span upgradeTranslate="upgradeAppApp.cliente.detail.title">Cliente</span></h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cliente.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.cliente.nombre">Nombre</span></dt>
        <dd>
          <span>{{ cliente.nombre }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.cliente.img">Img</span></dt>
        <dd>
          <span>{{ cliente.img }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.cliente.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ cliente.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.cliente.isActivo">Is Activo</span></dt>
        <dd>
          <span>{{ cliente.isActivo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cliente', cliente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
