<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="upgrade-servicio-heading"
        data-cy="ServicioCreateUpdateHeading"
        upgradeTranslate="upgradeAppApp.servicio.home.createOrEditLabel"
      >
        Create or edit a Servicio
      </h2>

      <div>
        <upgrade-alert-error></upgrade-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" upgradeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.servicio.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombre')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.servicio.urlPropuesta" for="field_urlPropuesta"
            >Url Propuesta</label
          >
          <input
            type="text"
            class="form-control"
            name="urlPropuesta"
            id="field_urlPropuesta"
            data-cy="urlPropuesta"
            formControlName="urlPropuesta"
          />
          <div
            *ngIf="editForm.get('urlPropuesta')!.invalid && (editForm.get('urlPropuesta')!.dirty || editForm.get('urlPropuesta')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('urlPropuesta')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.servicio.isActivo" for="field_isActivo">Is Activo</label>
          <input type="checkbox" class="form-check" name="isActivo" id="field_isActivo" data-cy="isActivo" formControlName="isActivo" />
          <div *ngIf="editForm.get('isActivo')!.invalid && (editForm.get('isActivo')!.dirty || editForm.get('isActivo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActivo')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.servicio.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'upgradeAppApp.EstadoServicio.null' | translate }}</option>
            <option *ngFor="let estadoServicio of estadoServicioValues" [value]="estadoServicio">
              {{ 'upgradeAppApp.EstadoServicio.' + estadoServicio | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('estado')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.servicio.fechaCreacion" for="field_fechaCreacion"
            >Fecha Creacion</label
          >
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('fechaCreacion')!.invalid && (editForm.get('fechaCreacion')!.dirty || editForm.get('fechaCreacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaCreacion')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fechaCreacion')?.errors?.ZonedDateTimelocal"
              upgradeTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.servicio.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
