<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="upgrade-estados-historias-heading"
        data-cy="EstadosHistoriasCreateUpdateHeading"
        upgradeTranslate="upgradeAppApp.estadosHistorias.home.createOrEditLabel"
      >
        Create or edit a Estados Historias
      </h2>

      <div>
        <upgrade-alert-error></upgrade-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" upgradeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.estadosHistorias.totalEstimacion" for="field_totalEstimacion"
            >Total Estimacion</label
          >
          <input
            type="number"
            class="form-control"
            name="totalEstimacion"
            id="field_totalEstimacion"
            data-cy="totalEstimacion"
            formControlName="totalEstimacion"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.estadosHistorias.totalBacklog" for="field_totalBacklog"
            >Total Backlog</label
          >
          <input
            type="number"
            class="form-control"
            name="totalBacklog"
            id="field_totalBacklog"
            data-cy="totalBacklog"
            formControlName="totalBacklog"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnRefinamiento"
            for="field_totalEnRefinamiento"
            >Total En Refinamiento</label
          >
          <input
            type="number"
            class="form-control"
            name="totalEnRefinamiento"
            id="field_totalEnRefinamiento"
            data-cy="totalEnRefinamiento"
            formControlName="totalEnRefinamiento"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoParaDesarrollo"
            for="field_totalListoParaDesarrollo"
            >Total Listo Para Desarrollo</label
          >
          <input
            type="number"
            class="form-control"
            name="totalListoParaDesarrollo"
            id="field_totalListoParaDesarrollo"
            data-cy="totalListoParaDesarrollo"
            formControlName="totalListoParaDesarrollo"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnDesarrollo"
            for="field_totalEnDesarrollo"
            >Total En Desarrollo</label
          >
          <input
            type="number"
            class="form-control"
            name="totalEnDesarrollo"
            id="field_totalEnDesarrollo"
            data-cy="totalEnDesarrollo"
            formControlName="totalEnDesarrollo"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoCertificacion"
            for="field_totalListoCertificacion"
            >Total Listo Certificacion</label
          >
          <input
            type="number"
            class="form-control"
            name="totalListoCertificacion"
            id="field_totalListoCertificacion"
            data-cy="totalListoCertificacion"
            formControlName="totalListoCertificacion"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnCertificacion"
            for="field_totalEnCertificacion"
            >Total En Certificacion</label
          >
          <input
            type="number"
            class="form-control"
            name="totalEnCertificacion"
            id="field_totalEnCertificacion"
            data-cy="totalEnCertificacion"
            formControlName="totalEnCertificacion"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.estadosHistorias.totalPruebasUAT" for="field_totalPruebasUAT"
            >Total Pruebas UAT</label
          >
          <input
            type="number"
            class="form-control"
            name="totalPruebasUAT"
            id="field_totalPruebasUAT"
            data-cy="totalPruebasUAT"
            formControlName="totalPruebasUAT"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoProduccion"
            for="field_totalListoProduccion"
            >Total Listo Produccion</label
          >
          <input
            type="number"
            class="form-control"
            name="totalListoProduccion"
            id="field_totalListoProduccion"
            data-cy="totalListoProduccion"
            formControlName="totalListoProduccion"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnProduccion"
            for="field_totalEnProduccion"
            >Total En Produccion</label
          >
          <input
            type="number"
            class="form-control"
            name="totalEnProduccion"
            id="field_totalEnProduccion"
            data-cy="totalEnProduccion"
            formControlName="totalEnProduccion"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.estadosHistorias.totalAprobadosPO" for="field_totalAprobadosPO"
            >Total Aprobados PO</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAprobadosPO"
            id="field_totalAprobadosPO"
            data-cy="totalAprobadosPO"
            formControlName="totalAprobadosPO"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.estadosHistorias.iniciativa" for="field_iniciativa"
            >Iniciativa</label
          >
          <select class="form-control" id="field_iniciativa" data-cy="iniciativa" name="iniciativa" formControlName="iniciativa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                iniciativaOption.id === editForm.get('iniciativa')!.value?.id ? editForm.get('iniciativa')!.value : iniciativaOption
              "
              *ngFor="let iniciativaOption of iniciativasSharedCollection; trackBy: trackIniciativaById"
            >
              {{ iniciativaOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
