<div>
  <h2 id="page-heading" data-cy="HitoHeading">
    <span upgradeTranslate="upgradeAppApp.hito.home.title">Hitos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.hito.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hito"
        [routerLink]="['/hito/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.hito.home.createLabel"> Create a new Hito </span>
      </button>
    </div>
  </h2>

  <upgrade-alert-error></upgrade-alert-error>

  <upgrade-alert></upgrade-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="hitos?.length === 0">
    <span upgradeTranslate="upgradeAppApp.hito.home.notFound">No hitos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="hitos && hitos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr upgradeSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" upgradeSortBy="id"><span upgradeTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" upgradeSortBy="nombre">
            <span upgradeTranslate="upgradeAppApp.hito.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="descripcion">
            <span upgradeTranslate="upgradeAppApp.hito.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="fechaInicio">
            <span upgradeTranslate="upgradeAppApp.hito.fechaInicio">Fecha Inicio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="fechaCumplimiento">
            <span upgradeTranslate="upgradeAppApp.hito.fechaCumplimiento">Fecha Cumplimiento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="tipoHito">
            <span upgradeTranslate="upgradeAppApp.hito.tipoHito">Tipo Hito</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="fechaCreacion">
            <span upgradeTranslate="upgradeAppApp.hito.fechaCreacion">Fecha Creacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="isActivo">
            <span upgradeTranslate="upgradeAppApp.hito.isActivo">Is Activo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="iniciativa.id">
            <span upgradeTranslate="upgradeAppApp.hito.iniciativa">Iniciativa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hito of hitos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/hito', hito.id, 'view']">{{ hito.id }}</a>
          </td>
          <td>{{ hito.nombre }}</td>
          <td>{{ hito.descripcion }}</td>
          <td>{{ hito.fechaInicio | formatMediumDatetime }}</td>
          <td>{{ hito.fechaCumplimiento | formatMediumDatetime }}</td>
          <td upgradeTranslate="{{ 'upgradeAppApp.TipoHito.' + hito.tipoHito }}">{{ hito.tipoHito }}</td>
          <td>{{ hito.fechaCreacion | formatMediumDatetime }}</td>
          <td>{{ hito.isActivo }}</td>
          <td>
            <div *ngIf="hito.iniciativa">
              <a [routerLink]="['/iniciativa', hito.iniciativa?.id, 'view']">{{ hito.iniciativa?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/hito', hito.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/hito', hito.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(hito)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="hitos && hitos.length > 0">
    <div class="row justify-content-center">
      <upgrade-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></upgrade-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
