<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="persona">
      <h2 data-cy="personaDetailsHeading"><span upgradeTranslate="upgradeAppApp.persona.detail.title">Persona</span></h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ persona.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.nombre">Nombre</span></dt>
        <dd>
          <span>{{ persona.nombre }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.apellido">Apellido</span></dt>
        <dd>
          <span>{{ persona.apellido }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.img">Img</span></dt>
        <dd>
          <span>{{ persona.img }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.email">Email</span></dt>
        <dd>
          <span>{{ persona.email }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.login">Login</span></dt>
        <dd>
          <span>{{ persona.login }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.userId">User Id</span></dt>
        <dd>
          <span>{{ persona.userId }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ persona.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.isActivo">Is Activo</span></dt>
        <dd>
          <span>{{ persona.isActivo }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.persona.cargo">Cargo</span></dt>
        <dd>
          <span upgradeTranslate="{{ 'upgradeAppApp.TipoCargo.' + persona.cargo }}">{{ persona.cargo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/persona', persona.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
