<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="upgrade-asignacion-heading"
        data-cy="AsignacionCreateUpdateHeading"
        upgradeTranslate="upgradeAppApp.asignacion.home.createOrEditLabel"
      >
        Create or edit a Asignacion
      </h2>

      <div>
        <upgrade-alert-error></upgrade-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" upgradeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.asignacion.porcentaje" for="field_porcentaje">Porcentaje</label>
          <input
            type="number"
            class="form-control"
            name="porcentaje"
            id="field_porcentaje"
            data-cy="porcentaje"
            formControlName="porcentaje"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.asignacion.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="personaOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : personaOption"
              *ngFor="let personaOption of personasSharedCollection; trackBy: trackPersonaById"
            >
              {{ personaOption.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.asignacion.iniciativa" for="field_iniciativa">Iniciativa</label>
          <select class="form-control" id="field_iniciativa" data-cy="iniciativa" name="iniciativa" formControlName="iniciativa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                iniciativaOption.id === editForm.get('iniciativa')!.value?.id ? editForm.get('iniciativa')!.value : iniciativaOption
              "
              *ngFor="let iniciativaOption of iniciativasSharedCollection; trackBy: trackIniciativaById"
            >
              {{ iniciativaOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
