<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="hito">
      <h2 data-cy="hitoDetailsHeading"><span upgradeTranslate="upgradeAppApp.hito.detail.title">Hito</span></h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ hito.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.hito.nombre">Nombre</span></dt>
        <dd>
          <span>{{ hito.nombre }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.hito.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ hito.descripcion }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.hito.fechaInicio">Fecha Inicio</span></dt>
        <dd>
          <span>{{ hito.fechaInicio | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.hito.fechaCumplimiento">Fecha Cumplimiento</span></dt>
        <dd>
          <span>{{ hito.fechaCumplimiento | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.hito.tipoHito">Tipo Hito</span></dt>
        <dd>
          <span upgradeTranslate="{{ 'upgradeAppApp.TipoHito.' + hito.tipoHito }}">{{ hito.tipoHito }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.hito.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ hito.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.hito.isActivo">Is Activo</span></dt>
        <dd>
          <span>{{ hito.isActivo }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.hito.iniciativa">Iniciativa</span></dt>
        <dd>
          <div *ngIf="hito.iniciativa">
            <a [routerLink]="['/iniciativa', hito.iniciativa?.id, 'view']">{{ hito.iniciativa?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/hito', hito.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
