<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="servicio">
      <h2 data-cy="servicioDetailsHeading"><span upgradeTranslate="upgradeAppApp.servicio.detail.title">Servicio</span></h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ servicio.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.servicio.nombre">Nombre</span></dt>
        <dd>
          <span>{{ servicio.nombre }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.servicio.urlPropuesta">Url Propuesta</span></dt>
        <dd>
          <span>{{ servicio.urlPropuesta }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.servicio.isActivo">Is Activo</span></dt>
        <dd>
          <span>{{ servicio.isActivo }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.servicio.estado">Estado</span></dt>
        <dd>
          <span upgradeTranslate="{{ 'upgradeAppApp.EstadoServicio.' + servicio.estado }}">{{ servicio.estado }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.servicio.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ servicio.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.servicio.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="servicio.cliente">
            <a [routerLink]="['/cliente', servicio.cliente?.id, 'view']">{{ servicio.cliente?.nombre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/servicio', servicio.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
