<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="funcionalidad">
      <h2 data-cy="funcionalidadDetailsHeading"><span upgradeTranslate="upgradeAppApp.funcionalidad.detail.title">Funcionalidad</span></h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ funcionalidad.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.funcionalidad.nombre">Nombre</span></dt>
        <dd>
          <span>{{ funcionalidad.nombre }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.funcionalidad.estado">Estado</span></dt>
        <dd>
          <span upgradeTranslate="{{ 'upgradeAppApp.TipoEstadoFuncionalidad.' + funcionalidad.estado }}">{{ funcionalidad.estado }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.funcionalidad.prioridad">Prioridad</span></dt>
        <dd>
          <span>{{ funcionalidad.prioridad }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/funcionalidad', funcionalidad.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
