<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="registroHistoria">
      <h2 data-cy="registroHistoriaDetailsHeading">
        <span upgradeTranslate="upgradeAppApp.registroHistoria.detail.title">Registro Historia</span>
      </h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ registroHistoria.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.registroHistoria.nombre">Nombre</span></dt>
        <dd>
          <span>{{ registroHistoria.nombre }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.registroHistoria.codigo">Codigo</span></dt>
        <dd>
          <span>{{ registroHistoria.codigo }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.registroHistoria.funcionalidad">Funcionalidad</span></dt>
        <dd>
          <div *ngIf="registroHistoria.funcionalidad">
            <a [routerLink]="['/funcionalidad', registroHistoria.funcionalidad?.id, 'view']">{{
              registroHistoria.funcionalidad?.nombre
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/registro-historia', registroHistoria.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
