<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="estadosHistorias">
      <h2 data-cy="estadosHistoriasDetailsHeading">
        <span upgradeTranslate="upgradeAppApp.estadosHistorias.detail.title">Estados Historias</span>
      </h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ estadosHistorias.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEstimacion">Total Estimacion</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalEstimacion }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalBacklog">Total Backlog</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalBacklog }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnRefinamiento">Total En Refinamiento</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalEnRefinamiento }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoParaDesarrollo">Total Listo Para Desarrollo</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalListoParaDesarrollo }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnDesarrollo">Total En Desarrollo</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalEnDesarrollo }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoCertificacion">Total Listo Certificacion</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalListoCertificacion }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnCertificacion">Total En Certificacion</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalEnCertificacion }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalPruebasUAT">Total Pruebas UAT</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalPruebasUAT }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoProduccion">Total Listo Produccion</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalListoProduccion }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnProduccion">Total En Produccion</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalEnProduccion }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.totalAprobadosPO">Total Aprobados PO</span></dt>
        <dd>
          <span>{{ estadosHistorias.totalAprobadosPO }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.estadosHistorias.iniciativa">Iniciativa</span></dt>
        <dd>
          <div *ngIf="estadosHistorias.iniciativa">
            <a [routerLink]="['/iniciativa', estadosHistorias.iniciativa?.id, 'view']">{{ estadosHistorias.iniciativa?.nombre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/estados-historias', estadosHistorias.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
