<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="asignacion">
      <h2 data-cy="asignacionDetailsHeading"><span upgradeTranslate="upgradeAppApp.asignacion.detail.title">Asignacion</span></h2>

      <hr />

      <upgrade-alert-error></upgrade-alert-error>

      <upgrade-alert></upgrade-alert>

      <dl class="row-md jh-entity-details">
        <dt><span upgradeTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ asignacion.id }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.asignacion.porcentaje">Porcentaje</span></dt>
        <dd>
          <span>{{ asignacion.porcentaje }}</span>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.asignacion.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="asignacion.cliente">
            <a [routerLink]="['/persona', asignacion.cliente?.id, 'view']">{{ asignacion.cliente?.nombre }}</a>
          </div>
        </dd>
        <dt><span upgradeTranslate="upgradeAppApp.asignacion.iniciativa">Iniciativa</span></dt>
        <dd>
          <div *ngIf="asignacion.iniciativa">
            <a [routerLink]="['/iniciativa', asignacion.iniciativa?.id, 'view']">{{ asignacion.iniciativa?.nombre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/asignacion', asignacion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
