<div>
  <h2 id="page-heading" data-cy="EstadosHistoriasHeading">
    <span upgradeTranslate="upgradeAppApp.estadosHistorias.home.title">Estados Historias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.estadosHistorias.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-estados-historias"
        [routerLink]="['/estados-historias/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.estadosHistorias.home.createLabel"> Create a new Estados Historias </span>
      </button>
    </div>
  </h2>

  <upgrade-alert-error></upgrade-alert-error>

  <upgrade-alert></upgrade-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="estadosHistorias?.length === 0">
    <span upgradeTranslate="upgradeAppApp.estadosHistorias.home.notFound">No estadosHistorias found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="estadosHistorias && estadosHistorias.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr upgradeSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" upgradeSortBy="id"><span upgradeTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" upgradeSortBy="totalEstimacion">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEstimacion">Total Estimacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalBacklog">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalBacklog">Total Backlog</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalEnRefinamiento">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnRefinamiento">Total En Refinamiento</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalListoParaDesarrollo">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoParaDesarrollo">Total Listo Para Desarrollo</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalEnDesarrollo">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnDesarrollo">Total En Desarrollo</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalListoCertificacion">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoCertificacion">Total Listo Certificacion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalEnCertificacion">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnCertificacion">Total En Certificacion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalPruebasUAT">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalPruebasUAT">Total Pruebas UAT</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalListoProduccion">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalListoProduccion">Total Listo Produccion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalEnProduccion">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalEnProduccion">Total En Produccion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="totalAprobadosPO">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.totalAprobadosPO">Total Aprobados PO</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="iniciativa.nombre">
            <span upgradeTranslate="upgradeAppApp.estadosHistorias.iniciativa">Iniciativa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estadosHistorias of estadosHistorias; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/estados-historias', estadosHistorias.id, 'view']">{{ estadosHistorias.id }}</a>
          </td>
          <td>{{ estadosHistorias.totalEstimacion }}</td>
          <td>{{ estadosHistorias.totalBacklog }}</td>
          <td>{{ estadosHistorias.totalEnRefinamiento }}</td>
          <td>{{ estadosHistorias.totalListoParaDesarrollo }}</td>
          <td>{{ estadosHistorias.totalEnDesarrollo }}</td>
          <td>{{ estadosHistorias.totalListoCertificacion }}</td>
          <td>{{ estadosHistorias.totalEnCertificacion }}</td>
          <td>{{ estadosHistorias.totalPruebasUAT }}</td>
          <td>{{ estadosHistorias.totalListoProduccion }}</td>
          <td>{{ estadosHistorias.totalEnProduccion }}</td>
          <td>{{ estadosHistorias.totalAprobadosPO }}</td>
          <td>
            <div *ngIf="estadosHistorias.iniciativa">
              <a [routerLink]="['/iniciativa', estadosHistorias.iniciativa?.id, 'view']">{{ estadosHistorias.iniciativa?.nombre }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/estados-historias', estadosHistorias.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/estados-historias', estadosHistorias.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(estadosHistorias)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="estadosHistorias && estadosHistorias.length > 0">
    <div class="row justify-content-center">
      <upgrade-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></upgrade-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
