<div>
  <h2 id="page-heading" data-cy="IniciativaHeading">
    <span upgradeTranslate="upgradeAppApp.iniciativa.home.title">Iniciativas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.iniciativa.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-iniciativa"
        [routerLink]="['/iniciativa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span upgradeTranslate="upgradeAppApp.iniciativa.home.createLabel"> Create a new Iniciativa </span>
      </button>
    </div>
  </h2>

  <upgrade-alert-error></upgrade-alert-error>

  <upgrade-alert></upgrade-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="iniciativas?.length === 0">
    <span upgradeTranslate="upgradeAppApp.iniciativa.home.notFound">No iniciativas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="iniciativas && iniciativas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr upgradeSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" upgradeSortBy="id"><span upgradeTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" upgradeSortBy="nombre">
            <span upgradeTranslate="upgradeAppApp.iniciativa.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="fechaInicio">
            <span upgradeTranslate="upgradeAppApp.iniciativa.fechaInicio">Fecha Inicio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="fechaFin">
            <span upgradeTranslate="upgradeAppApp.iniciativa.fechaFin">Fecha Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="fechaCreacion">
            <span upgradeTranslate="upgradeAppApp.iniciativa.fechaCreacion">Fecha Creacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="isActivo">
            <span upgradeTranslate="upgradeAppApp.iniciativa.isActivo">Is Activo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="promesa">
            <span upgradeTranslate="upgradeAppApp.iniciativa.promesa">Promesa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="tituloProductoDigital">
            <span upgradeTranslate="upgradeAppApp.iniciativa.tituloProductoDigital">Titulo Producto Digital</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="descripcionProductoDigital">
            <span upgradeTranslate="upgradeAppApp.iniciativa.descripcionProductoDigital">Descripcion Producto Digital</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" upgradeSortBy="servicio.nombre">
            <span upgradeTranslate="upgradeAppApp.iniciativa.servicio">Servicio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let iniciativa of iniciativas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/iniciativa', iniciativa.id, 'view']">{{ iniciativa.id }}</a>
          </td>
          <td>{{ iniciativa.nombre }}</td>
          <td>{{ iniciativa.fechaInicio | formatMediumDatetime }}</td>
          <td>{{ iniciativa.fechaFin | formatMediumDatetime }}</td>
          <td>{{ iniciativa.fechaCreacion | formatMediumDatetime }}</td>
          <td>{{ iniciativa.isActivo }}</td>
          <td>{{ iniciativa.promesa }}</td>
          <td>{{ iniciativa.tituloProductoDigital }}</td>
          <td>{{ iniciativa.descripcionProductoDigital }}</td>
          <td>
            <div *ngIf="iniciativa.servicio">
              <a [routerLink]="['/servicio', iniciativa.servicio?.id, 'view']">{{ iniciativa.servicio?.nombre }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/iniciativa', iniciativa.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/iniciativa', iniciativa.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(iniciativa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" upgradeTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="iniciativas && iniciativas.length > 0">
    <div class="row justify-content-center">
      <upgrade-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></upgrade-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
