<form *ngIf="cliente" name="deleteForm" (ngSubmit)="confirmDelete(cliente.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="clienteDeleteDialogHeading" upgradeTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <upgrade-alert-error></upgrade-alert-error>

    <p id="upgrade-delete-cliente-heading" upgradeTranslate="upgradeAppApp.cliente.delete.question" [translateValues]="{ id: cliente.id }">
      Are you sure you want to delete this Cliente?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="upgrade-confirm-delete-cliente" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
