<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="upgrade-hito-heading" data-cy="HitoCreateUpdateHeading" upgradeTranslate="upgradeAppApp.hito.home.createOrEditLabel">
        Create or edit a Hito
      </h2>

      <div>
        <upgrade-alert-error></upgrade-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" upgradeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.hito.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.hito.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.hito.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="d-flex">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="datetime-local"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.hito.fechaCumplimiento" for="field_fechaCumplimiento"
            >Fecha Cumplimiento</label
          >
          <div class="d-flex">
            <input
              id="field_fechaCumplimiento"
              data-cy="fechaCumplimiento"
              type="datetime-local"
              class="form-control"
              name="fechaCumplimiento"
              formControlName="fechaCumplimiento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.hito.tipoHito" for="field_tipoHito">Tipo Hito</label>
          <select class="form-control" name="tipoHito" formControlName="tipoHito" id="field_tipoHito" data-cy="tipoHito">
            <option [ngValue]="null">{{ 'upgradeAppApp.TipoHito.null' | translate }}</option>
            <option *ngFor="let tipoHito of tipoHitoValues" [value]="tipoHito">
              {{ 'upgradeAppApp.TipoHito.' + tipoHito | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('tipoHito')!.invalid && (editForm.get('tipoHito')!.dirty || editForm.get('tipoHito')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoHito')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.hito.fechaCreacion" for="field_fechaCreacion"
            >Fecha Creacion</label
          >
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('fechaCreacion')!.invalid && (editForm.get('fechaCreacion')!.dirty || editForm.get('fechaCreacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaCreacion')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fechaCreacion')?.errors?.ZonedDateTimelocal"
              upgradeTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.hito.isActivo" for="field_isActivo">Is Activo</label>
          <input type="checkbox" class="form-check" name="isActivo" id="field_isActivo" data-cy="isActivo" formControlName="isActivo" />
          <div *ngIf="editForm.get('isActivo')!.invalid && (editForm.get('isActivo')!.dirty || editForm.get('isActivo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActivo')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.hito.iniciativa" for="field_iniciativa">Iniciativa</label>
          <select class="form-control" id="field_iniciativa" data-cy="iniciativa" name="iniciativa" formControlName="iniciativa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                iniciativaOption.id === editForm.get('iniciativa')!.value?.id ? editForm.get('iniciativa')!.value : iniciativaOption
              "
              *ngFor="let iniciativaOption of iniciativasSharedCollection; trackBy: trackIniciativaById"
            >
              {{ iniciativaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
