<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="upgrade-iniciativa-heading"
        data-cy="IniciativaCreateUpdateHeading"
        upgradeTranslate="upgradeAppApp.iniciativa.home.createOrEditLabel"
      >
        Create or edit a Iniciativa
      </h2>

      <div>
        <upgrade-alert-error></upgrade-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" upgradeTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.iniciativa.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombre')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.iniciativa.fechaInicio" for="field_fechaInicio"
            >Fecha Inicio</label
          >
          <div class="d-flex">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="datetime-local"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fechaInicio')!.invalid && (editForm.get('fechaInicio')!.dirty || editForm.get('fechaInicio')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaInicio')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fechaInicio')?.errors?.ZonedDateTimelocal"
              upgradeTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.iniciativa.fechaFin" for="field_fechaFin">Fecha Fin</label>
          <div class="d-flex">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              type="datetime-local"
              class="form-control"
              name="fechaFin"
              formControlName="fechaFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fechaFin')!.invalid && (editForm.get('fechaFin')!.dirty || editForm.get('fechaFin')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaFin')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fechaFin')?.errors?.ZonedDateTimelocal"
              upgradeTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.iniciativa.fechaCreacion" for="field_fechaCreacion"
            >Fecha Creacion</label
          >
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('fechaCreacion')!.invalid && (editForm.get('fechaCreacion')!.dirty || editForm.get('fechaCreacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaCreacion')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fechaCreacion')?.errors?.ZonedDateTimelocal"
              upgradeTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.iniciativa.isActivo" for="field_isActivo">Is Activo</label>
          <input type="checkbox" class="form-check" name="isActivo" id="field_isActivo" data-cy="isActivo" formControlName="isActivo" />
          <div *ngIf="editForm.get('isActivo')!.invalid && (editForm.get('isActivo')!.dirty || editForm.get('isActivo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActivo')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.iniciativa.promesa" for="field_promesa">Promesa</label>
          <input type="text" class="form-control" name="promesa" id="field_promesa" data-cy="promesa" formControlName="promesa" />
          <div *ngIf="editForm.get('promesa')!.invalid && (editForm.get('promesa')!.dirty || editForm.get('promesa')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('promesa')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.iniciativa.tituloProductoDigital"
            for="field_tituloProductoDigital"
            >Titulo Producto Digital</label
          >
          <input
            type="text"
            class="form-control"
            name="tituloProductoDigital"
            id="field_tituloProductoDigital"
            data-cy="tituloProductoDigital"
            formControlName="tituloProductoDigital"
          />
          <div
            *ngIf="
              editForm.get('tituloProductoDigital')!.invalid &&
              (editForm.get('tituloProductoDigital')!.dirty || editForm.get('tituloProductoDigital')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tituloProductoDigital')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            upgradeTranslate="upgradeAppApp.iniciativa.descripcionProductoDigital"
            for="field_descripcionProductoDigital"
            >Descripcion Producto Digital</label
          >
          <input
            type="text"
            class="form-control"
            name="descripcionProductoDigital"
            id="field_descripcionProductoDigital"
            data-cy="descripcionProductoDigital"
            formControlName="descripcionProductoDigital"
          />
          <div
            *ngIf="
              editForm.get('descripcionProductoDigital')!.invalid &&
              (editForm.get('descripcionProductoDigital')!.dirty || editForm.get('descripcionProductoDigital')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcionProductoDigital')?.errors?.required"
              upgradeTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" upgradeTranslate="upgradeAppApp.iniciativa.servicio" for="field_servicio">Servicio</label>
          <select class="form-control" id="field_servicio" data-cy="servicio" name="servicio" formControlName="servicio">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="servicioOption.id === editForm.get('servicio')!.value?.id ? editForm.get('servicio')!.value : servicioOption"
              *ngFor="let servicioOption of serviciosSharedCollection; trackBy: trackServicioById"
            >
              {{ servicioOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span upgradeTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
